.contenedor {
  max-width: 100vw;
  padding: 0 5rem;
}

table,
mat-paginator {
  width: 100%;
  margin: 0 auto;
}

mat-paginator {
  margin-top: 2rem;
}

.btn-editar {
  margin-right: 1rem;
}

.card-info,
.btn-nuevo {
  margin-bottom: 1rem;
}
